	{% extends 'tipster_app/base.html' %}
	{% load static %}

	{% block content%}
	

			<!-- start banner Area -->
			<section class="banner-area" id="home">
				
				<div class="container">
					<div class="row fullscreen d-flex align-items-center">
						<div class="banner-content col-lg-7 col-md-6 justify-content-center">
				
							<h5 class="comp_info">
								Delivering Solutions on Tips			
							</h5>
							<p class="text-white"><br>
								Tipster Solutions is started boutique technology services company whose aim is to 'Make IT perform to its very best for small to medium sized businesses'.<br><br>
                                We provide comprehensive IT Solutions for Website, Software, Hardware & Telecom, Online Work and Consulting needs.

							</p>
							
						</div>	
						<div class="banner-img col-lg-4 col-md-5 align-self-end">
							<img class="img-fluid" src="{% static 'tipster_app/img/banner-img.png' %}" alt="" height=300px>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->
			
			<!-- Start service Area -->
			<section class="service-area section-gap" id="service">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12 pb-50 header-text text-center">
							<h1 class="mb-10">What we offer to our Clients</h1>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
								
									<img src="{% static 'tipster_app/img/o1.jpg' %}" alt="" width=262px height=180px>									
								</div>
								<h4>IT SERVICES</h4>
								<p>
									There is so much choice when it comes to PCs, servers and other network devices. We offer a full range of computer equipments incorporating workstations, file servers, printers, and switch gear including firewalls and routers, and more...
								</p>
							</div>	
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="{% static 'tipster_app/img/o2.jpg' %}" alt="" width=262px height=180px>									
								</div>
								<h4>CLOUD COMPUTING</h4>
								<p>
									We provide a full suite of cloud computing support and hosting, helping you harness the power and flexibility the cloud delivers. From complete migrations to hybrid environments, we ensure your business continuity through every stage.								
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="{% static 'tipster_app/img/o3.jpg'%}" alt="" width=262px height=180px>									
								</div>
								<h4>WEBSITE DEVELOPMENT</h4>
								<p>
									We combine Digital Marketing and Website Design to influence buyer decisions, increasing traffic, engagement, and sales, and believe that digital marketing and web design should work together, incorporating additional digital channels for maximum effect.
								</p>
							</div>
						</div>	
						<div class="col-lg-3 col-md-6">
							<div class="single-service">
								<div class="thumb">
									<img src="{% static 'tipster_app/img/o4.jpg'%}" alt="" width=262px height=180px>									
								</div>
								<h4>START-UP CONSULTING</h4>
								<p>
									Our mission is to spread entrepreneurship to everyone who is interested in learning how to start a business & wants to avoid the typical start-up mistakes.
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End service Area -->
			
			<!-- Start home-about Area -->
			<section class="home-about-area section-gap relative">			
				<div class="container">
					<div class="row align-items-center justify-content-start">
						<div class="col-lg-6 no-padding home-about-right">
							<h1 class="why_us">Why Should You Choose Us?
							</h1><br><br>
							<h4>Attention to Details</h4>
							<p>
								It’s our attention to the small stuff, scheduling of timelines and keen project management that makes us stand out from the rest. We are creative, while keeping a close eye on the calendar and your budget.
							</p>
							<h4>A Plan for Success</h4>
							<p>
								You want results. We have found that the best way to get them is with up front research – of your company, competitors, target market and customer psychographics. Only after we fully understand you and your customers, do we recommend a plan of attack.
							</p>
							<h4>Creativity</h4>
							<p>
								We bring our diverse background of advertising, design, branding, public relations, research and strategic planning to work for your company. Not only will your materials look great – they will get results.<br><br>
							</p>
							
							<h4>Meeting Deadlines</h4>
							<p>
								If we miss a deadline, we’re out. Period. We are always ready for the tightest turnarounds in the business – and we’ve never missed a single one.
							</p>
							<h4>Pricing</h4>
							<p>
								Our prices are competitive and fair. There are no surprise bills. Any unexpected or additional expenses must be pre-approved by you. That’s how we would like to be treated, and that is how our clients are treated.
							</p>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
			{%endblock%}

			

			