	{% extends 'tipster_app/base.html' %}
	{% load static %}

	{% block content%}
	<!-- start banner Area -->
			<section style="margin-bottom: 30px;" class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Services			
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'index' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'services' %}"> Services</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->
	
			<!-- Start home-services Area -->

			<div class="container">
			  <div class="row">
			    <div class="col-sm">
			      <h1>IT Services</h1>
			      <hr style="border: 1px solid #4287f5;"><br>
			   
			      
							<p class="msg_founder">
								Are you confused about the hardware your business requires?<br><br>

								There is so much choice when it comes to PCs, servers and other network devices - you don't want to skimp on performance but you're working to a budget.<br><br>

								Tipster Solutions don't only offer hardware support services to businesses throughout Delhi NCR and the India. We also supply a full range of computer equipment incorporating workstations, file servers, printers, and switch gear including firewalls and routers. <br><br>

								Whether you are looking to build a new network domain from scratch or add a few client PCs, our engineers will help plan and deliver your new hardware with minimal interruption to your daily operations. We offer below services.<br><br><br>
								<ul style="list-style-type:disc;margin-left:15px;font-weight: bold;">
									<li>Laptops, Computer, Workstations And Tablets</li>
									<li>Printers and Peripheral Devices</li>
									<li>Routers and Firewalls</li>
									<li>Annual Contract</li>
									<li>Antivirus and Software</li>
									<li>Computer and System Repairs</li>
								</ul>			
							</p>
			    </div>
			    <div class="col-sm">
			      <h1>Cloud Computing</h1>
			      <hr style="border: 1px solid #4287f5;"><br>
			
							<p class="msg_founder">
								Tipster solutions provides a full suite of cloud computing support and hosting, helping you harness the power and flexibility the cloud delivers. From complete migrations to hybrid environments, we ensure your business continuity through every stage.<br><br>

								Tipster solutions will work closely with you to design a cloud infrastructure that will deliver on the features you need, whether a public, private or hybrid solution.<br><br>

								Outperform your competition with cloud-enabled business solutions and quick, easy and secure activation of IT-certified, cross-industry solutions.<br><br>

								Tipster solutions provides a full complement of managed services to optimize, host, monitor, and manage IT infrastructure, middleware and enterprise applications. We offer below services.<br><br>

								<ul style="list-style-type:disc;margin-left:15px;font-weight: bold;">
									<li>Amazon Web Services</li>
									<li>Devious Consulting</li>
									<li>Google Cloud Platform</li>
									<li>Email Hosting And Migration</li>
									<li>Register Domain & Managed Collocation</li>
									<li>Server MigrationW</li>
								</ul>			
							</p>
			    </div>
			    <div class="col-sm">
			      <h1>Web Development</h1>
			      <hr style="border: 1px solid #4287f5;"><br>
			      
							<p class="msg_founder">
								Delivering real impact for businesses. We combine Digital Marketing and Website Design to influence buyer decisions, increasing traffic, engagement and sales and believe that Digital Marketing and web design should work together, incorporating additional digital channels for maximum effect.<br><br>

								We deliver a personal, passionate & tailored digital marketing service and website development to each & every one of our clients, big or SMEs or startup or either you have 1 employee or 1000 employee firm, based in India or abroad. We strongly believe that there’s no merit in a ‘one-size-fits-all’ approach to digital marketing. We don’t compromise on the quality of our work, neither should you. We offer below services.<br><br><br><br><br>

								<ul style="list-style-type:disc;margin-left:15px;font-weight: bold;">
									<li>Website Development</li>
									<li>Search Engine Optimization</li>
									<li>Optimised Paid Media Advertising Campaigns</li>
									<li>Brand Awareness & Engagement</li>
									<li>Analytics Consulting</li>
									<li>Customized Training in Digital Marketing</li>
								</ul>			
							</p>
			    </div>

			   
			   
  			  </div>
		    </div>	
		    <div class="container"> 
		    	
			  <div class="row">
			    <div class="col-sm">
			      <h1 id="C4">Consulting</h1>
			      <hr style="border: 1px solid #4287f5;"><br>
			   
			      
							<p class="msg_founder">
								Our mission is to spread entrepreneurship to everyone who is interested in learning how to start a business & wants to avoid the typical start-up mistakes.<br><br>

								We audit, consult & then implement solutions for SMEs and Start-up & We offer a refreshing change to that with a personal & effective approach. Making a difference through effective design, strategy & management. We offer below services.<br><br><br>

								<ul style="list-style-type:disc;margin-left:15px;font-weight: bold;">
									<li>New Company Registration</li>
									<li>Trademark Your Brand.</li>
									<li>Legal Filing and Documentation</li>
									<li>ISO 27001 Certification</li>
									<li>Business Consulting</li>
									<li>Logo and Creative Design</li>
								</ul>			
							</p>
			    </div>
			    <div class="col-sm">
			      <h1>ICT Solutions</h1>
			      <hr style="border: 1px solid #4287f5;"><br>
			
							<p class="msg_founder">
								As a business you don’t need jargons, you just need to be connected. Let ICT Solutions take care of linking it all together and you can get on with growing your business. We have a team of experienced professionals who will take care of your requirements and in addition make suggestions to improve the end solution.<br><br>

								Expert design, development and implementation of all your needs of ICT Technology and Digital Security. We offer below services.

								<ul style="list-style-type:disc;margin-left:15px;font-weight: bold;">
									<li>Internet and Broadband</li>
									<li>Leased-Line, MPSL And VOIP </li>
									<li>Wireless Connectivity</li>
									<li>Access Control And CCTV</li>
									<li>Door Entry System And Alert System</li>
									<li>Managed Firewalls</li>
								</ul>			
							</p>
			    </div>
			    <div class="col-sm">
			      <h1>Infrastructure</h1>
			      <hr style="border: 1px solid #4287f5;"><br>
			      
							<p class="msg_founder">
								Tipster Solutions can help your business with all aspects of its IT infrastructure, from design and configuration to expanding it to match your growing needs.<br><br>

								It is true that the quality and specification of network switches, routers, structured cabling, hardware and internet connectivity all play a vital role in ensuring your IT systems deliver optimum performance for your business. We offer below services.<br><br><br>

								<ul style="list-style-type:disc;margin-left:15px;font-weight: bold;">
									<li>Routers, Switching & WIFI</li>
									<li>Servers & Storage Devices</li>
									<li>Cabling, Connectivity & Internet</li>
									<li>Backup & Data Recovery</li>
								</ul>			
							</p>
			    </div>
			    
			   
			   
  			  </div>
		    </div>	
			<!-- End services Area -->
			
	{% endblock %}